.ant-drawer.popup-toolbar {
  height: auto;
  bottom: auto;
  left: auto;

  .ant-drawer-content-wrapper {
    height: auto !important;
    width: auto !important;
    position: static !important;
  }

  .ant-drawer-content {
    flex-direction: row-reverse;
    align-items: start;
  }

  .ant-drawer-header-close-only {
    padding: 16px;
    border: 0;

    .ant-drawer-close {
      margin-right: 0;
    }
  }
}

.mobile {
  .ant-drawer.popup-toolbar {
    .ant-drawer-content-wrapper {
      overflow: auto;
      max-height: 100vh !important;
      width: 100vw !important;
    }
  }
}
