.ant-list.list-wrapper {
  .ant-list-header {
    padding: 10px 15px;
  }
  .ant-list-item {
    position: relative;
    padding: 10px 15px 0;
    .ant-list-item-meta {
      margin-bottom: 8px;
      .ant-list-item-meta-title {
        font-weight: normal;
        font-size: 15px;
        margin-bottom: 2px;
      }
    }
    .ant-list-item-action {
      margin: 0 0 10px;
      li {
        padding-right: 0;
      }
    }
  }
}

.list-cursor {
  cursor: pointer;
  &:hover {
    background: rgba(var(--bg-r), var(--bg-g), var(--bg-b), 0.5);
  }
}
